* {

}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#drinkChoice {

}

#drinkInput {
display: inline-flex;
width: 30%;
}

#ingrediantInput {
display: inline-flex;
width: 30%;
}

#drinkSumbit {

}

#switchBtn {
position: relative;
}

.drinks-card {
    display: inline-flex;
    width: 30%;
    border-width: 2px;
    border-style: solid;
   
    
}

.card-divider {
    background-color: white;
}

.card-section {
    background-color: #e9bd2f;
}