* {
    font-family: Arial, Helvetica, sans-serif
}

header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    color: white;
    background-color: #F84F8B;
    -webkit-box-shadow: 0px 5px 5px -3px #F84F8B; 
    box-shadow: 0px 5px 5px -3px #F84F8B;
}
 
header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 120px;
    position: static;
}

h1 {
    margin-right: 530px;
    margin-top: 5px;
}

header .logo h1 {
    font-size: 40px;
}

nav {
    background-color: #F84F8B;
    border-style: none;
    width: 250px;
    box-shadow: none;
    margin-top: 5px;
}

nav ul {
    display: flex !important;
    justify-content: flex-start !important;
    min-width: 300px !important;
    list-style: none;
}

nav a {
    color: #F4A022 !important;
    font-weight: bold !important;
    text-decoration: none !important;
    font-size: 24px !important;
    padding: 15px !important;
}

main {
    margin: 40px 0 40px 0;
}

.inputdiv {
    text-align: center;
}

#drinkInput {
    display: block;
    width: 500px;
}

#drinkInput {
    display: block;
    width: 500px;
    margin: 0 auto 8px;
}

#ingredientInput {
    display: block;
    width: 500px;
    margin: 0 auto 8px;
}

.drinks-card {
    border-width: 2px;
}

.card {
    flex: 1 0 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #DA1259;
    filter: drop-shadow(5px 5px 5px #E9BD2F);
}

.card-divider {
    background-color: white;
    font-size: 20px;
    color: #DA1259;
}

.card-section {
    background-color: #E9BD2F;
}

.fa-star {
    font-weight: 400;
    color: #DA1259;
}

.checked {
    color: #DA1259;
    font-weight: bold;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

a.card, a.card:hover, a.card:focus, a.card:active {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    padding: 2%;
    background-color: #F84F8B;
    color: white;
    -webkit-box-shadow: 0px -5px 5px -3px #F84F8B; 
    box-shadow: 0px -5px 5px -3px #F84F8B;
  }

footer .made-by {
    margin-bottom: 5px;
}

.buttons-div {
    padding-left: 12px;
    padding-right: 12px;

}

.drinkInfo {
    margin-top: 5px;
  }

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
    }

    #drinkInput {

        width: 350px;
    }
    #ingredientInput {
        width: 350px;
    
    }

    .collection-item div span {
        margin-left:0px !important;
        display: block;
    }

}
